{% extends 'base.html'%}
{% block title %} New User {% endblock %}
{% block content %}
<h1>Create an user </h1>
<form action="/users/new" method="post">
    <label for="first_name"> First name</label>
    <input type="text"  name="first_name" placeholder="first_name">
    <br>
    <label for="last_name"> Last name</label>
    <input type="text"  name="last_name" placeholder="last_name">
    <br>
    <label for="image_url">image URL</label>
    <input type="text"  name="image_url" placeholder="image_url"> 
    <button>Add</button>       
</form>
{% endblock %}